# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
app/dist
app/tmp
app/out-tsc
app/bazel-out

# Node
app/node_modules
app/npm-debug.log
app/yarn-error.log

# IDEs and editors
app/.idea/
app/.project
app/.classpath
app/.c9/
app/*.launch
app/.settings/
app/*.sublime-workspace

# Visual Studio Code
app/.vscode/*
app/!.vscode/settings.json
app/!.vscode/tasks.json
app/!.vscode/launch.json
app/!.vscode/extensions.json
app/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
app/.DS_Store
app/Thumbs.db


# compiled output
api/dist
api/node_modules

# Logs
api/logs
api/*.log
api/npm-debug.log*
api/pnpm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/lerna-debug.log*

# OS
api/.DS_Store

# Tests
api//coverage
api//.nyc_output

# IDEs and editors
api//.idea
api/.project
api/.classpath
api/.c9/
api/*.launch
api/.settings/
api/*.sublime-workspace

# IDE - VSCode
api/.vscode/*
api/!.vscode/settings.json
api/!.vscode/tasks.json
api/!.vscode/launch.json
api/!.vscode/extensions.json